h1{
  width: 71%;
    margin: 4rem auto auto auto;
    text-align: center;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1.5rem 1.75rem;

    color: white;
    font-size: 200%;
    margin: auto;
    flex: 1;
    border: none;
    font-weight: 500;
    padding-right: 1rem;
}
  
  .movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.3;
  }
  
  .movie:hover div:nth-of-type(3) {
    background-color: transparent;
  }
  
  .movie:hover div:nth-of-type(1) {
    opacity: 1;
  }
  
  @media screen and (max-width: 600px) {
  
    .search {
      padding: 1rem 1.75rem;
      width: 100%;
    }
  
    .search input {
      font-size: 1rem;
    }
  
    .search img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media screen and (max-width: 400px) {  
    .container {
      margin-top: 2rem;
    }
  
    .movie {
      width: "100%";
      margin: 1rem;
    }
  }